/*.dashboard {
}*/

/* Notes List */
.notes-list {
  width: 80%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  cursor: pointer;
}

.note-item:hover {
  background-color: #f9f9f9;
}

/* Create Note Form */
.create-note-form {
  width: 80%;
  padding: 20px;
  background-color: cornflowerblue; /* Cambia il colore in blu */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white; /* Cambia il colore del testo a bianco */
  text-align: center; /* Centra il testo orizzontalmente */
  margin: 0 auto; /* Centra la box orizzontalmente */
}

.create-note-form input,
.create-note-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  background-color: cornflowerblue;
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra gli elementi verticalmente */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar button {
  background-color: darkslategray; 
  color: white;
  padding: 15px 30px; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; /* Aggiungi spazio tra i pulsanti */
}

.navbar button:hover {
  background-color: #0056b3; 
}

/* Message Styling */
.message {
  color: #d9534f;
  margin: 10px 0;
}

/* Edit Note Form */

